<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title style="background-color:#1c87c9; color:#fff;">Поставщики</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(supplier)}"> </div>
    <h1>Список поставщиков</h1>
</div>

<div>
    <table class="table table-hover">
        <thead class="bg-light">
        <tr>
            <td>Номер работника</td>
            <td>ФИО</td>
            <td>Номер телефона</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="supplier : ${suppliers}">
            <td th:text="${supplier.id}"></td>
            <td th:text="${supplier.fullName}"></td>
            <td th:text="${supplier.phone}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>